<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b2b0b4">  <td>19/08/13 15:13:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;test.setup()[pri:0, instance:Strikedeck_QA.QA_Automation.framework.test@635eaaf1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1820383114</td>   <td></td> </tr>
<tr bgcolor="b2b0b4">  <td>19/08/13 15:13:49</td>   <td>8233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.testCustomerPage()[pri:0, instance:Strikedeck_QA.QA_Automation.framework.test@635eaaf1]">testCustomerPage</td> 
  <td>main@1820383114</td>   <td></td> </tr>
<tr bgcolor="b2b0b4">  <td>19/08/13 15:13:49</td>   <td>8322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.testDynamicTable()[pri:0, instance:Strikedeck_QA.QA_Automation.framework.test@635eaaf1]">testDynamicTable</td> 
  <td>main@1820383114</td>   <td></td> </tr>
<tr bgcolor="b2b0b4">  <td>19/08/13 15:14:59</td>   <td>79034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.testPage()[pri:0, instance:Strikedeck_QA.QA_Automation.framework.test@635eaaf1]">testPage</td> 
  <td>main@1820383114</td>   <td></td> </tr>
<tr bgcolor="b2b0b4">  <td>19/08/13 15:15:39</td>   <td>119213</td> <td>&nbsp;</td><td title="&lt;&lt;test.endTest()[pri:0, instance:Strikedeck_QA.QA_Automation.framework.test@635eaaf1]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1820383114</td>   <td></td> </tr>
</table>
